@import "~bulma/sass/utilities/_all"
@import "./variables"

$sidebarWidth: 14em;
$contentWidth: 40em;

section > .content
  width: 100%;
  max-width: 70em;
  margin: 0 auto;
  +tablet
    padding: 0 1em;

  .article
    &__header
      max-width: $contentWidth;
      display: flex;
      flex-direction: column;
      align-items: baseline;
      margin: 0 auto;

      +widescreen
        max-width: calc(#{$sidebarWidth} + #{$contentWidth});
        margin: 0;
        padding-left: $sidebarWidth;

      h1
        font-size: 1.3rem;
        line-height: 1.5;
        +tablet
          font-size: 1.4rem;

      h1:not(:first-child)
        margin-top: 0.25em;

    &__topic
      color: #555;
      font-size: 0.75em;
      font-weight: normal;
      border-bottom: 1px solid #ccc;
      padding: 0.2em 0;
      display: inline-block;
      margin: none;

    &__main
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      +widescreen
        width: calc(#{$sidebarWidth} + #{$contentWidth});
        position: relative;
        left: 50%;
        margin: 3em auto;
        margin-left: calc(-#{$sidebarWidth} - #{$contentWidth} / 2)

      line-height: 2;
      p:not(:last-child),
      dl:not(:last-child),
      ol:not(:last-child),
      ul:not(:last-child),
      blockquote:not(:last-child),
      pre:not(:last-child),
      table:not(:last-child)
        margin: 2em 0 1.6em;
      p > img
        display: block;
        margin: 0 auto;

    &__sidebar
      width: 100%;

      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1em 0.5em;
      border: 1px solid #eee;
      border-left: none;
      border-right: none;
      margin-bottom: 1em;

      +widescreen
        width: $sidebarWidth;
        align-items: flex-start;
        padding: 0 2em 0 0;
        margin: 0;
        border: none;
        position: sticky;
        z-index: 1;
        top: 3em;
        align-self: flex-start;
        height: auto;

    &__content
      width: 100%;
      max-width: $contentWidth;
      overflow-wrap: break-word;
      margin: 0 auto;

    &__date
      color: #999;

    &__contributor-list
      margin: 1em 0;

    &__tags
      margin: 1em 0;

    &__shares
      display: flex;
      align-items: center;
      +widescreen
        display: block;
      button
        margin: 0 0.2em;
        padding: 0;
        height: 2em;
        line-height: 1;
        +widescreen
          height: 1.4em;
          margin: 0.2em 0;
          display: block;
        i
          font-size: 1.1em;
          +widescreen
            font-size: 1.2em;
      .copyit
        line-height: 1;

.tags
  &__item
    display: inline-block;
    font-size: 0.8em;
    border: 1px solid #ccc;
    border-radius: 999px;
    padding: 0.1em 0.5em;
    margin-bottom: 0.5em;
    &:not(:last-child)
      margin-right: 0.25em;

    a
      color: #aaa;

.contributor
  margin: 0.5em 0;
  &__type
    display: inline-block;
    color: #555;
    margin-right: 0.5em;
  &__name
    display: inline-block;
    color: $color-primary;
