@import "~bulma/sass/utilities/_all"

.carousel
  .control-dots
    display: none;
    +tablet
      display: block;
  .slider-wrapper .slide
    background: #aaa;
    .carousel__wrapper
      .gatsby-image-wrapper
        padding-bottom: 75%;
        +tablet
          // Issue #3 - set aspect ratio to 2.35 : 1
          padding-bottom: 42%;
    .legend
      width: 100%;
      height: 100%;
      margin: 0;
      left: 0;
      bottom: 0;
      border-radius: 0;
      padding: 16px;
      background: rgba(0, 0, 0, 0.6);
      opacity: 1;
      font-size: 1.5em;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      text-align: left;

      p
        font-size: 0.8rem;

      h2
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 1.1rem;
        font-weight: bold;

      +tablet
        max-width: 80%;
        padding: 32px 120px 48px 32px;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.6) 70%, transparent 100%);
        .legend
          padding-bottom: 48px;
          h2
            font-size: 1.2rem;
            margin-bottom: 8px;

