.generalimg
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

.collarge
  transition: opacity 200ms ease-in;

  figure.image
    margin: 0;
  &__cover
    margin: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0.5em;
    overflow: hidden;

    > div
      height: 100%;

  h2
    margin: 0;
    font-size: 1.25rem;
    padding: 0.5rem 0;
    text-align: center;

  &:hover h2
    opacity: 0.7;

.colliner
  height: 2em;
  display: flex;
  align-items: center;
  background: white;
  &__cover
    height: 2em;
    width: 2em;
    border-radius: 100%;
    overflow: hidden;
    margin-right: 0.5em;
