.trending
  padding: 0 0.5em;
  &__link
    color: #111;
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0.5em 0;
  &__index
    color: #7f9d4e;
    margin-right: 0.25em;