@import "~bulma/sass/utilities/initial-variables";
@import '../styles/variables';

// Config vars
$primary: $color-primary;
$body-color: #333;
$black: #2b2523;

.dim
  transition: opacity 200ms ease-in;
  &:hover
    opacity: 0.7;

.primary
  color: $color-primary;

.secondary
  color: $color-secondary;

.primary-link
  color: $color-primary;
  transition: color 200ms ease-in;
  &:hover
    color: #555;

.pointer
  cursor: pointer;

.bg-default
  background: linear-gradient(160deg, rgba(241,222,0,0.3) 0%, rgba(167,207,100,0.5) 30%, rgba(127,157,78,0.5) 85%); 

@import "~bulma";
@import "~@fortawesome/fontawesome-free/css/all.css";
